*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
  background-color:darkred;
}

li{
  list-style:none;
}

a{
  color:white;
  text-decoration:none;
}

.navbar{
  min-height: 70px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 0 24px;
}

.nav-menu{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-right:1%;
}

.nav-branding{
  font-size: 2rem;
  margin-left:1%;
}

.nav-link{
  transition: 0.7s ease;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
}

.nav-link:hover{
  background-color:firebrick;
}

.hamburger{
  display:none;
  cursor:pointer;
}

.bar{
  display:block;
  width:25px;
  height:3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color:blanchedalmond;
}

@media(max-width:768px){
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }

  .hamburger.active .bar:nth-child(1){
    transform:translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform:translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position:fixed;
    left: -100%;
    top: 70px;
    gap:0;
    flex-direction: column;
    background-color:darkred;
    width: 100%;
    text-align:center;
transition: 0.3s ease;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left:0;
  }
}
